

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@media screen and (max-width: 640px) {
	.parameter_table{
		overflow-x: auto;
	}
}
.sidebar{
	position:fixed;
	left:0;
	top:3;
}
textarea{
	resize:none;
	width:450px;
	height:100px;
}
.add{
	width:50px;
}
.another{
	width:50px;
}
table{
	table-layout:auto;
	width:100%;
}
div.coc_parameter{
	width:700px;
	margin:0 auto;
}

